<!DOCTYPE html>
<html>
<%-include('./blocks/head')%>
<body>

    <%-include('./blocks/nav')%>



    <div class="container text-center my-5">
        <div class="error-container py-5">
          <i class="bi bi-exclamation-circle error-icon display-1 text-danger"></i>
          <h1 class="error-heading display-4 fw-bold">Oops! Page Not Found</h1>
          <p class="error-message lead">The page you are looking for does not exist or has been moved.</p>
          <a href="/" class="btn btn-primary back-home-btn">Back to Home</a>
          <br><br><br>
          <h1 class="error-heading display-4 fw-bold">404</h1>
        </div>
      </div>
	</div>
    <footer></footer>
</body>
</html>